@charset "utf-8";

/* Todas as demais midias */

/* Typical Device BreakPoints
------------------------------
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 922px
Desktop: 922px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
}